.LeagueListRow {
  color: #e5e7eb;
  align-content: center;
}

.LeagueTable-Column-CheckCircle {
  padding-right: 1.5%;
  /* align-content: center;
  justify-content: center; */
}

.LeagueListRow > .removeButtonLeague{
  bottom: 4px;
  /* justify-content: center; */
}
