/* *{
	font-family: Fjalla One;
  margin: 0;
	border: 0;
	padding: 0;
	color: white;
} */

/* html{
  background-color: white;
} */

.LeagueTable table{
	margin: 30px auto;
	border-collapse: collapse;
  width: 100%;
  border-radius: 10px; /* Rounded edges for the entire table */
  overflow: hidden; /* Ensure rounded corners are visible */
  display: block;
  background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
}

.LeagueTable{
	/* margin: 0px 0% 30px 0%;
  padding: 1% 2% 0% 2%;
  width: 100%; */
  /* background-color: white; */
  text-align: center; /* Center-align the content */
  /* align-content: center; */
  /* align-items: center; */
  margin: 0 auto; /* Set left and right margins to 'auto' for centering */
  max-width: 90%; /* Set a maximum width to the table for better readability */
  background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
}

.LeagueTableHeaders{
  /* border-radius: 10px; Rounded edges */
  margin-bottom: 5px; /* Spacing between rows */
  background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
}

.LeagueTable-title{
	/* margin: 0px 0% 30px 0%;
  padding: 1% 2% 0% 2%; */
  width: 100%;
  /* background-color: white; */
}

.LeagueTable-col{
  /* border-radius: 10px; Rounded edges */
  margin-bottom: 5px; /* Spacing between rows */
}

th, td {
    padding: 10px;
}

th{
	background-color: black;
	color: #0e663a;
}

/* .LeagueTableHeader{
	text-align: center;
	text-decoration: none;
	color: #5521ff;
	margin: 30px;
	display: block;
  align-items: center;
} */

table .col{
	border-bottom: 1px solid #FFFFFF;
}

